body {
    background-color: #fef;
}

.main-section {
    display: flex;
    width: 100vw;
}

textarea {
    height: 90vh;
    width: 45vw;
}

#editor {
    display: inline-block;
    margin: 5pt;
}

#viewer {
    display: inline-block;
    margin: 5pt;
    height: 90vh;
    width: -webkit-fill-available;
    width: -moz-available;

    border: solid #aaa;
    background-color: #fff;
    overflow-y: scroll;
}
